In [19]:
import pandas as pd
df=pd.read_csv("C:/Users/Dell/Documents/P2_mov.csv")

In [20]:
df.describe().head(5)

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000

In [21]:
import seaborn as sns
import matplotlib.pyplot as mat

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.5+ KB

In [23]:
from statistics import mean

In [24]:
mean_budget=mean(df['budget'])
mean_budget

29045039

In [25]:
df['budget']=df['budget'].replace(to_replace=0,value=int(mean_budget))

In [26]:
df['homepage'].fillna('NaN')

0                             http://www.avatarmovie.com/
1            http://disney.go.com/disneypictures/pirates/
2             http://www.sonypictures.com/movies/spectre/
3                      http://www.thedarkknightrises.com/
4                    http://movies.disney.com/john-carter
5         http://www.sonypictures.com/movies/spider-man3/
6            http://disney.go.com/disneypictures/tangled/
7       http://marvel.com/movies/movie/193/avengers_ag...
8       http://harrypotter.warnerbros.com/harrypottera...
9            http://www.batmanvsupermandawnofjustice.com/
10                                http://www.superman.com
11      http://www.mgm.com/view/movie/234/Quantum-of-S...
12           http://disney.go.com/disneypictures/pirates/
13                  http://disney.go.com/the-lone-ranger/
14                             http://www.manofsteel.com/
15                                                    NaN
16                      http://marvel.com/avengers_movie/
17      http://disney.go.com/pirates/index-on-stranger...
18        http://www.sonypictures.com/movies/meninblack3/
19                              http://www.thehobbit.com/
20                     http://www.theamazingspiderman.com
21                      http://www.robinhoodthemovie.com/
22                              http://www.thehobbit.com/
23      http://www.goldencompassmovie.com/index_german...
24                                                    NaN
25                            http://www.titanicmovie.com
26               http://marvel.com/captainamericapremiere
27                                                    NaN
28                          http://www.jurassicworld.com/
29                           http://www.skyfall-movie.com
                              ...
4773                 http://www.miramax.com/movie/clerks/
4774                                                  NaN
4775                                                  NaN
4776                                                  NaN
4777                                                  NaN
4778                                                  NaN
4779                                                  NaN
4780                                                  NaN
4781               https://www.facebook.com/DrySpellMovie
4782                                                  NaN
4783                                                  NaN
4784                    http://www.thepuffychairmovie.com
4785                                                  NaN
4786                                                  NaN
4787                                                  NaN
4788                                                  NaN
4789                                                  NaN
4790                                                  NaN
4791                        http://tincanmanthemovie.com/
4792                                                  NaN
4793                                                  NaN
4794                                                  NaN
4795                                                  NaN
4796                           http://www.primermovie.com
4797                                                  NaN
4798                                                  NaN
4799                                                  NaN
4800    http://www.hallmarkchannel.com/signedsealeddel...
4801                          http://shanghaicalling.com/
4802                                                  NaN
Name: homepage, Length: 4803, dtype: object

In [27]:
df['homepage'].fillna('rakshu')

0                             http://www.avatarmovie.com/
1            http://disney.go.com/disneypictures/pirates/
2             http://www.sonypictures.com/movies/spectre/
3                      http://www.thedarkknightrises.com/
4                    http://movies.disney.com/john-carter
5         http://www.sonypictures.com/movies/spider-man3/
6            http://disney.go.com/disneypictures/tangled/
7       http://marvel.com/movies/movie/193/avengers_ag...
8       http://harrypotter.warnerbros.com/harrypottera...
9            http://www.batmanvsupermandawnofjustice.com/
10                                http://www.superman.com
11      http://www.mgm.com/view/movie/234/Quantum-of-S...
12           http://disney.go.com/disneypictures/pirates/
13                  http://disney.go.com/the-lone-ranger/
14                             http://www.manofsteel.com/
15                                                 rakshu
16                      http://marvel.com/avengers_movie/
17      http://disney.go.com/pirates/index-on-stranger...
18        http://www.sonypictures.com/movies/meninblack3/
19                              http://www.thehobbit.com/
20                     http://www.theamazingspiderman.com
21                      http://www.robinhoodthemovie.com/
22                              http://www.thehobbit.com/
23      http://www.goldencompassmovie.com/index_german...
24                                                 rakshu
25                            http://www.titanicmovie.com
26               http://marvel.com/captainamericapremiere
27                                                 rakshu
28                          http://www.jurassicworld.com/
29                           http://www.skyfall-movie.com
                              ...
4773                 http://www.miramax.com/movie/clerks/
4774                                               rakshu
4775                                               rakshu
4776                                               rakshu
4777                                               rakshu
4778                                               rakshu
4779                                               rakshu
4780                                               rakshu
4781               https://www.facebook.com/DrySpellMovie
4782                                               rakshu
4783                                               rakshu
4784                    http://www.thepuffychairmovie.com
4785                                               rakshu
4786                                               rakshu
4787                                               rakshu
4788                                               rakshu
4789                                               rakshu
4790                                               rakshu
4791                        http://tincanmanthemovie.com/
4792                                               rakshu
4793                                               rakshu
4794                                               rakshu
4795                                               rakshu
4796                           http://www.primermovie.com
4797                                               rakshu
4798                                               rakshu
4799                                               rakshu
4800    http://www.hallmarkchannel.com/signedsealeddel...
4801                          http://shanghaicalling.com/
4802                                               rakshu
Name: homepage, Length: 4803, dtype: object

In [28]:
import numpy as np

In [30]:
df['hit']=np.where(df['vote_average']>=6,'HIT','FLOP')
df['hit']

0        HIT
1        HIT
2        HIT
3        HIT
4        HIT
5       FLOP
6        HIT
7        HIT
8        HIT
9       FLOP
10      FLOP
11       HIT
12       HIT
13      FLOP
14       HIT
15       HIT
16       HIT
17       HIT
18       HIT
19       HIT
20       HIT
21       HIT
22       HIT
23      FLOP
24       HIT
25       HIT
26       HIT
27      FLOP
28       HIT
29       HIT
        ...
4773     HIT
4774     HIT
4775     HIT
4776     HIT
4777    FLOP
4778     HIT
4779     HIT
4780    FLOP
4781     HIT
4782     HIT
4783    FLOP
4784     HIT
4785    FLOP
4786    FLOP
4787    FLOP
4788     HIT
4789     HIT
4790     HIT
4791    FLOP
4792     HIT
4793     HIT
4794    FLOP
4795     HIT
4796     HIT
4797     HIT
4798     HIT
4799    FLOP
4800     HIT
4801    FLOP
4802     HIT
Name: hit, Length: 4803, dtype: object

In [34]:
df[df.apply(pd.to_numeric,errors='coerce').notnull()].dropna()

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, hit]
Index: []

[0 rows x 21 columns]